# Database Configuration
DB_URL=jdbc:postgresql://postgres:5432/chat_v2
DB_USERNAME=postgres
DB_PASSWORD=1234

# JWT Configuration
JWT_SECRET=1YIbsNOQdqj6bNpDPrVz7Up8vGLkEmCGQGPf0HsGG7w=
JWT_EXPIRATION_MS=3600000

# Crypto Configuration
CRYPTO_KEY_BASE64=1YIbsNOQdqj6bNpDPrVz7Up8vGLkEmCGQGPf0HsGG7w=

# MinIO Configuration
MINIO_ENDPOINT=https://s3.students.alabuga.space
MINIO_REGION=ru-cod-4-2
MINIO_ACCESS_KEY=bOWbfv5DHJgsq8PdzTKT
MINIO_SECRET_KEY=O5HY8pbfdXgKTHZiW5XyfK21cGKGeYh5RPfqD3uM
MINIO_BUCKET=alabuga-hr-chat-dev

# Spring Configuration
SPRING_PROFILES_ACTIVE=postgres
